# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
def count_4(list1):
    count = 0
    for x in list1:
        if x == 4:
            count+=1
    return count
print(count_4([1,2,3,4,5,4,6,4,7,4]))

4

### write a  function to check whether a number is divisible by another number.

In [13]:
def divisible(num):
    if num%2 == 0:
        print("divisble")
    else:
        print("not divisble")
divisible(100)

divisble

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [16]:
def min_max(list1):
    count1=list1[0]
    count2=list1[0]
    for num in list1:
        if num > count1:
            count1 = num
        elif num < count2:
            count2 = num
    return count1 , count2
print(min_max([1,3,-3,99,100,-1,-90]))

(100, -90)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [41]:
def member(lis1,lis2):
    
    result = False
    for i in lis1:
        for j in lis2:
            if i == j:
                result = True
    return result
print(member([1,4,5,6],[5,3,6,7]))

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [2]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num-1)
print(factorial(5))

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [16]:
def in_range(num):
        if num in range(3,11):
            print("in range")
        else:
            print("out of range")
print(in_range(12))

out of range
None

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [22]:
num = int(input("enter a number for multiplication table :"))
for i in range(1,11):
    result = num*i
    print(num,"*",i,"=",result)

enter a number for multiplication table :9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [63]:
def lesser_of_two_evens(n1,n2):
    if (n1 % 2 and n2 % 2)==0:
        if (n1 > n2):
            print(n2)
        else:
            print(n1)    
    elif (n1 % 2 and n2 % 2)!=0:
        
        if (n1 > n2):
            print(n1)
        else:
            print(n2)    
    
print(lesser_of_two_evens(2,4))

2
None

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [70]:
def animal_crackers(str1):
    str2=str1.split()
    if (str2[0][0]==str2[1][0]):
        return True
    else:
        return False
print(animal_crackers("Levelheaded Llama"))
print(animal_crackers("Crazy Kangaroo"))

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [44]:
def MAKES_TWENTY(a,b):
    if ((a or b)== 20) or ((a+b)==20):
        return True
    else:
        return False
    

print(MAKES_TWENTY(20,10))
print(MAKES_TWENTY(12,8))
print(MAKES_TWENTY(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [53]:
def ALMOST_THERE(num):
    return ((abs(100 - num) <= 10) or (abs(200 - num) <= 10))
print(ALMOST_THERE(90))
print(ALMOST_THERE(104))
print(ALMOST_THERE(150))
print(ALMOST_THERE(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [49]:

def blackjack(a,b,c):
    result=int(a+b+c)
    if result < 21:
        return result
    
    elif result > 21 and a == 11 or b == 11 or c == 11:
        result2=result-10
        return result2
    
    else:
        return "BUST"
    
    
print(blackjack(5, 6, 7))
print(blackjack(9, 9, 9))
print(blackjack(9, 9, 11))

18
BUST
19